body {
  background-image: url(https://images6.fanpop.com/image/photos/40000000/Pokemon-Background-Designs40-earn-gold-here-40015982-1920-1080.jpg);
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}



