.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

h1 {
  padding: 10px 10px;
  margin: 15px 15px;
  font-family: 'Press Start 2P', cursive;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

